.infoMe{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #fad0bb;
    width: 100%;
    height: 200x;
    margin-bottom: 30px;
}

.infoCV{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #fad0bb;
    width: 100%;
    height: 200x;
    margin-bottom: 30px;
}

h2 {
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.infoMe:hover {
    height: 500px;
    background-color: #eca47d;
}

.infoMe:hover h2{
    font-size: 0px;
    display:none;
}

.infoMe:hover .hiddenContainer{
    height: 500px;
    width: 100%;
    content-visibility: visible;
}

.infoMe:hover .infoMeEducation{
    display: flex;
}

.infoCV:hover .hiddenContainer{
    height: 300px;
    width: 100%;
    content-visibility: visible;
}

.infoCV:hover .infoMeEducation{
    display: flex;
}

.infoCV:hover h2{
    font-size: 0px;
    display:none;
}

.hiddenContainer {
    width: 0px;
    height: 0px;
    content-visibility: hidden;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.infoMeContent {
    background-color: white;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    align-content: center;
}

.infoMeEducation {
    display: none;
    background-color: white;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    justify-content: space-evenly;
    align-content: center;
}

.educationContainer {
    width: 30%;
}

.educationContainer p {
    margin-top: 0px;
    line-height: 40px;
}

h3 {
    font-size: 25px;
    margin-top: -20px;
}

.infoCVContent {
    background-color: white;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    align-content: center;
    height: 200px;
}

.infoCV button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eca47d;
    background-color: #f4d5c4;
}

.infoCV button:hover {
    background-color: #eca47d;;
}