.rowTop {
    margin-bottom: 50px;
}

.rowTop:Hover .About{
    padding: 40px;
    height: fit-content;
}

.rowTop:Hover .Edu{
    padding: 40px;
    height: fit-content;
    display: flex;
}

.eduContainer {
    display: none;
    background-color: white;
    width: 50%;
    text-align: center;
    border: 1px solid black;
    padding: 50px;
    justify-content: space-evenly;
    align-content: center;
}

.row {
    margin-top: 40px;
}

.subTitleHolder {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.subTitleHolder hr {
    width: 15%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.cvSpan {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #eca47d;
    height:fit-content;
    padding: 20px;
}

.cvHolder {
    display: block;
    width: 60%;
    height:fit-content;
}

span {
    padding-left: 30px;
    padding-right: 30px;
}

.aboutContent {
    background-color: rgb(255, 250, 243);
    display: block;
    text-align: center;
    padding: 20px;
}

.rowBlockInner h3 {
    font-size: 20px;
    margin-top: -10px;
}

.jobInfo {
    height: fit-content;
}

.eduText {
    padding-right: 0px;
    width: fit-content;
}

.eduColumn {
    display: flex;
    justify-content: space-evenly;
}

.eduLine {
    margin-left: 20px;
    margin-right: 20px;
}