.barContainer {
    width: 100%;
    background-color: #eca47d;
    height: 500px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.formContainer {
    background-color: white;
    border: 1px solid black;
    width: 50%;
    padding: 30px;
    text-align: center;
    align-content: center;
}

.buttonConttainer{
    margin-top: 60px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.buttonConttainer button {
    width: 200px;
    height: 50px;
    margin-left: 30px;
    margin-right: 30px;

    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eca47d;
    background-color: #f4d5c4;
}

.buttonConttainer button:hover {
    background-color: #eca47d;
}

h2 {
    font-size: 40px;
    margin-top: -50px;
    margin-bottom: 60px;
}