.subTitleHolder {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.subTitleHolder hr {
    width: 15%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

h3 {
    font-size: 25px;
    margin-top: -10px;
}

.slideshow-container h3 {
    width: 100%;
    top: 10px;
    text-align: center;
    margin-top: 20px;

}

.infoBox p {
    margin-top: -10px;
}

h3 {
    margin-top: -10px;
}