.container {
    display: flex;
    justify-content: space-evenly;
}

.column {
    display: block;
    width: 24%;
}

img {
    width: 100%;
    border-radius: 10px;
}

.imageContainer {
    border-radius: 10px;
    padding: 10px;
    background-color:rgb(255, 250, 243);
    transition-duration: .3s;
    margin-top: 5px;
    margin-bottom: 10px;
}

.infoContainer {
    margin-top: 10px;
}

.infoLine {
    width: 100%;
}

hr {
    margin-bottom: 1px solid black;
    width:80%;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titleHolder {
    display: flex;
    justify-content: center;
}

.titleHolder hr {
    width: 35%;
}

.handleHolder {
    display: flex;
    justify-content: space-evenly;
}

.handleHolder a {
    text-decoration: none;
    color: black;
}

.handleHolder a:hover {
    color: #eca47d;
}