.site {
    display: flex;
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    background-color: #eca47d;
    content-visibility: hidden;
    width: 0%;
    height: 500px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.image {
    background-image: url(../assets/BGwebsite.png);
    background-position: center;
    background-size: cover;
    width:100%;
    height: 500px;
    transition: all 0.3s ease-in-out;
}


.site:hover .info {
    display: flex;
    width: 100%;
    content-visibility: visible;
}

.site:hover .image {
    width: 0%;
}

.infoBox {
    background-color: white;
    width: 45%;
    margin-left: auto;
    margin-right: 1%;
    text-align: center;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black;
}

.imageBox {
    width: 45%;
    margin-left: 1%;
    margin-right: auto;
    padding: 30px;
    justify-content: center;
    align-content: center;
}


h2 {
    font-size: 30px;
}

.infoBox button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eca47d;
    background-color: #f4d5c4;
}

.infoBox button:hover {
    background-color: #eca47d;;
}