.site {
    
    transition: all 0.3s ease-in-out;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    background-color: #eca47d;
    content-visibility: hidden;
    width: 100%;
    height: 0px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.image {
    background-size: cover;
    width:100%;
    height: 500px;
    transition: all 0.3s ease-in-out;
}

#cuphead {
    background-image: url("../assets/websites/coverCuphead.png");
}

#steam {
    background-image: url("../assets/placeholder.jpg");
}

#gradGoose {
    background-image: url("../assets/placeholder.jpg");
}

#portfolio {
    background-image: url("../assets/placeholder.jpg");
}


.site:hover .info {
    display: flex;
    height: 500px;
    content-visibility: visible;
}

.site:hover .image {
    height: 0px;
}

.infoBox {
    background-color: white;
    width: 45%;
    margin-left: auto;
    margin-right: 1%;
    text-align: center;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black;
}

.imageBox {
    width: 45%;
    margin-left: 1%;
    margin-right: auto;
    padding: 30px;
    justify-content: center;
    align-content: center;
}


h2 {
    font-size: 30px;
}

.infoBox button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eca47d;
    background-color: #f4d5c4;
}

.infoBox button:hover {
    background-color: #eca47d;;
}

.imageHolder {
    display: flex;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
}