.site {
    
    transition: all 0.5s ease-in-out;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info {
    background-color: #eca47d;
    content-visibility: hidden;
    width: 100%;
    height: 0px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.image {
    background-size: cover;
    width:100%;
    height: 500px;
    transition: all 0.3s ease-in-out;
}

#cuphead {
    background-image: url("../assets/websites/coverCuphead.png");
}

#steam {
    background-image: url("../assets/coverImages/placeholder.jpg");
}

#gradGoose {
    background-image: url("../assets/coverImages/gradGoose.png");
}

#portfolio {
    background-image: url("../assets/coverImages/portfolio.png");
}

#magazine {
    background-image: url("../assets/coverImages/placeholder.jpg");
}

#newspaper {
    background-image: url("../assets/coverImages/newspaper.png");
}


.site:hover .info {
    display: flex;
    height: 500px;
    content-visibility: visible;
}

.site:hover .image {
    height: 0px;
}

.site:hover .infoBox{
    display: block;
}

.site:hover .imageBox{
    display: block;
}


.infoBox {
    background-color: white;
    width: 45%;
    margin-left: auto;
    margin-right: 1%;
    text-align: center;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid black;
    overflow: hidden;
    display: none;
    align-items: center;
}


.imageBox {
    width: 45%;
    margin-left: 1%;
    margin-right: auto;
    padding: 30px;
    justify-content: center;
    align-content: center;
    display: none;
}


h2 {
    font-size: 30px;
}

.infoBox button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eca47d;
    background-color: #f4d5c4;
}

.infoBox button:hover {
    background-color: #eca47d;;
}

.imageHolder {
    width: 100%;
    margin-top: 75px;
}

img{
    display: block;
    margin-left: 0 auto;
    margin-right: 0 auto;
    
}

.imgColTitle {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 10px;
}

h3 {
    font-size: 25px;
    
}