body {
    background-color: #FAE4D8;
}

.main {

}

.nav {
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background-color:#FAE4D8;
    padding: 10px;
}

.nav a {
    margin-left: 25px;
    margin-right: 25px;
    border: none;
    transition: border .3s, 2s;
    transition-timing-function: ease;
}

.active {
    border-bottom: 1px solid black;
}

.nav a:hover {
    border-bottom: 1px solid black;
}

.nav button {
    background: none;
    border: none;
}

.content {
    display: inline;
}

.content button {
    width: 100%;
    background: none;
    border:none;
    margin-bottom: -100px;
}

.content button h1 {
    position: relative;
    color: rgb(255, 253, 226);
    transition: font-size 1s;
    transition-timing-function: ease;
    height: 500px;
    padding-top: 275px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}


#Art {
    background-image: url(../assets/BGart.jpg);
    background-position: center;
    background-size: cover;
}

#Photography {
    background-image: url(../assets/BGduck.png);
    background-position: center;
    background-size: cover;
}

#Websites {
    background-image: url(../assets/BGwebsite.png);
    background-position: center;
    background-size: cover;
}

.content button:hover {
    font-size: 50px;
}

.content button:hover h1 {

}

.contentNextTo {
    display: flex;
    justify-content: space-evenly;
}

.contentNextTo button {
    background: none;
    border:none;
    width: 100%;
    margin-bottom: 100px;
}

.contentNextTo button h1 {
    position: relative;
    color: black;
    transition: font-size 1s;
    transition-timing-function: ease;
    height: 250px;
    padding-top: 175px;
    text-shadow: none;
}

.contentNextTo button:hover {
    font-size: 25px;
}

hr {
    margin-bottom: 1px solid black;
    width:80%;
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.titleHolder {
    display: flex;
    justify-content: center;
}

.titleHolder hr {
    width: 35%;
}

.handleHolder {
    display: flex;
    justify-content: space-evenly;
}


.vertLine {
    border-right: 1px solid black;
    height: 70%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: auto;
    margin-bottom: auto;
}