.infoContainer {
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    width: 100%;
    height: 500px;
    background-color: lightslategray;
    transition: all 0.3s ease-in-out;
}

.info {
    display: none;
    width: 0%;
    height: 500px;
    background-color: lightskyblue;
    transition: all 0.3s ease-in-out;
}

.image {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: lightcoral;
    transition: all 0.3s ease-in-out;
}

.infoContainer:hover .info {
    display: flex;
    width: 100%;

}

.infoContainer:hover .image {

    width: 0%;
}


